/*/////////////////////////////////

    Block Item Slide  - BASE Version

//////////////////////////////////*/

[class^="block_list_usp"] {
    @include block_image_margins();
}

.block-item-video-hover__image-container {
    float: left;
    width: 50%;
}

.block-item-video-hover__image-container {

}

.block-item-video-hover__video {
    left: 0;
    pointer-events: none;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}
.block-item-video-hover__image-container {

}

.block-item-video-hover__image {
    z-index: 100;

    &:hover {
            opacity: 0;
        .block-item-video-hover__image {
        }
    }
}

.block-item-video-hover__content {
    color: $white;
    font-size: 14px;
    left: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    z-index: 2;
}

.block-item-video-hover__item {
    background: grey;
    float: left;
    min-height: 150px;
    position: relative;
    width: 50%;
    z-index: 10;

    &:hover {

        .background-image {
            opacity: 0;
        }
    }
}
