
<a ng-href="{{module.content.link_url}}"
   title="{{getTitle(module.content)}}"

   class="block-item-video-hover__item">

    <video id="block-item-video-hover__video" class="video block-item-video-hover__video lazyload" playsinline muted preload loop>
        <source ng-src="{{'/extend/assets/videos/home/home_background_7.mp4'}}" type="video/mp4">
        <source ng-src="{{'/extend/assets/videos/home/home_background_7.webm'}}" type="video/webm">
    </video>
    <image_background_db
        ng-if="getImage(module.content, 'main_image')"
        filter_name="'block_item_video_hover'"
        image="getImage(module.content, 'main_image')"
        module=module
        img_class="block-item-video-hover__image"
        class=""
        alt="{{getAltText(module.content)}}">
    </image_background_db>

    <div class="block-item-video-hover__content">

        <div class="block-item-video-hover__content-title"
             ng-if="getTitle(module.content)"
             ng-bind-html="getTitle(module.content)" ></div>

        <div class="block-item-video-hover__content-subtitle"
             ng-if="module.content.subtitle"
             ng-bind-html="module.content.subtitle" ></div>

    </div>

    <structured_data module="module"></structured_data>

</a>


