<div class="container-fluid">

    <div class="swiper-container swiper-70 swiper-container-horizontal">

        <div class="header-template-2__image background-image ghost"></div>

        <div class="swiper-slide__content">
            <div class="swiper-slide__content-title ghost__item-container">
            <span class="ghost__item big">
                --------------------------------
            </span>
            </div>
            <div class="swiper-slide__content-subtitle">
            <span class="ghost__item big">
                --------------------------------
            </span>
            </div>
            <p class="swiper-slide__content-description">
            <span class="ghost__item">
                --------------------------------
            </span>
                <span class="ghost__item">
                --------------------------------
            </span>
            </p>
        </div>
    </div>
</div>
